h1 {
    color: var(--color-4);
    font-size: 52px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 0;
}

h1#tuner-name {
    font-size: 32px;
}

h2 {
    color: var(--color-4);
    margin-bottom: 0;
    margin-top: 8px;
}

h3 {
    font-size: 22px;
}

p#tuner-desc {
    margin: 0;
}

label {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    text-align: left;
    color: var(--color-4);
}

.canvas-container {
    width: 100%;
    height: 175px;
}

#data-ant {
    margin-right: 15px !important;
}

#data-ps, #data-rt0, #data-rt1 {
    font-family: "Roboto Mono", monospace;
}

#data-rt0, #data-rt1 {
    font-size: 14px;
}

#data-ps {
    font-weight: 500;
}

.form-group {
    float: left;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#settings, #back-btn {
    background: transparent;
    border: 0;
    color: white;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 16px;
    width: 64px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    border-radius: 50%;
    transition: 500ms ease-in-out background;
    cursor: pointer;
}

#settings:hover, #back-btn:hover {
    background: var(--color-3);
}

#back-btn {
    left: 15px;
    right: auto;
}

#af-list ul {
    display:list-item;
    padding: 0;
    list-style-type: none;
    margin-bottom: 0;
    font-size: 14px;
    max-height: 380px;
    overflow-y: auto;
}

#af-list a {
    cursor: pointer;
}

#flags-container-phone {
    display: none;
}

.checkbox input[type="checkbox"] {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
  
  .checkbox label {
    position: relative;
    cursor: pointer;
  }
  
  .checkbox label:before {
    content:'';
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid var(--color-4);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .form-group input:checked + label:after {
    content: '✓';
    display: block;
    position: absolute;
    top: 2px;
    left: 6px;
    width: 16px;
    height: 16px;
  }

  .tuner-info {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

@media (max-width: 768px) {
    canvas, #flags-container {
        display: none;
    }
    #ps-container {
        background-color: var(--color-1);
        height: 100px !important;
        margin: auto !important;
        width: 100%;
    }
    h2 {
        display: none;
    }
    .form-group {
        float: none;
    }
    #data-pi {
        font-size: 24px;
        margin-top: 50px;
        color: #aaa;
    }
    h2.show-phone {
        display: inline;
        padding: 0 !important;
    }
    #data-ps {
        font-size: 42px;
    }
    #data-frequency {
        font-size: 72px;
    }
    #data-rt0, #data-rt1 {
        font-size: 10px;
        text-align: left;
        width: 100%;
    }
    #rt-container {
        height: 32px !important;
    }
    ul {
        font-size: 16px;
    }
    #af-list ul li {
        display: inline-table;
        margin-right: 5px;
        width: 40px;
    }
    #flags-container-desktop {
        display: none;
    }
    #flags-container-phone {
        display: block;
    }
    #tune-buttons {
        height: 64px;
        order: 1;
    }
    .filter-controls {
        order: 2;
    }
    .button-play-mobile {
        order: 2;
        margin: 0 !important;
        border-radius: 0;
    }
    .button-play-mobile .playbutton {
        border-radius: 0;
    }
    .button-eq {
        order: 1;
    }
    .button-ims {
        order: 3;
    }
    .tuner-info {
        margin-bottom: -60px !important;
    }
}

@media only screen and (min-width: 960px) and (max-height: 860px) {
    #rt-container {
        height: 90px !important;
    }
    #ps-container {
        margin-left: 15px;
    }
    .canvas-container {
        height: 120px;
    }
    .tuner-info #tuner-name {
        float: left;
        font-size: 24px;
    }

    .tuner-info #tuner-desc {
        float: right;
        text-align: right;
    }
}