*[class^="panel-"] {
    background-color: var(--color-1);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 30px;
    text-align: center;
    margin-top: 30px;
    transition: 0.3s ease-in-out background-color;
}

.panel-10 {
    width: 10%;
    margin-bottom: 30px;
}

.panel-33 {
    width: 33%;
}

.panel-75 {
    width: 68%;
}

.panel-90 {
    width: 88%;
}


.panel-100 {
    width: 98%;
}



@media only screen and (max-width: 768px) {
    .panel-75 {
        width: 90%;
    }
    .panel-33 h2 {
        padding: 20px;
        padding-top: 5px;
    }
    .panel-100 {
        width: 90%;
        margin: auto;
    } 
    [class^="panel-"] {
        margin: auto;
        width: 90%;
        margin-bottom: 20px;
        background-color: transparent;
    }
    .flex-phone {
        display: flex;
    }
    .panel-90 {
        margin-top: 100px;
    }
}