@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root {
    --color-main: #111;
    --color-main-bright: #aaa;
    
    --color-1: color-mix(in srgb, var(--color-main) 95%, var(--color-main-bright));
    --color-2: color-mix(in srgb, var(--color-main) 75%, var(--color-main-bright));
    --color-3: color-mix(in srgb, var(--color-main) 50%, var(--color-main-bright));
    --color-4: color-mix(in srgb, var(--color-main) 20%, var(--color-main-bright));
    --color-5: color-mix(in srgb, var(--color-main) 0%, var(--color-main-bright));
}

.color-1 {
    color: var(--color-1);
}

.color-2 {
    color: var(--color-2);
}

.color-3 {
    color: var(--color-3);
}

.color-4 {
    color: var(--color-4);
}

::selection {
    background: var(--color-main-bright);
    color: inherit;
}

body {
    font-family: 'Titillium Web', sans-serif;
    color: white;
    background-color: var(--color-main);
    transition: 0.3s ease-in-out background-color;
}

a {
    text-decoration: none;
    color: white;
}

#data-pi {
    text-transform: uppercase;
}

#wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    max-width: 1240px;
}

#color-settings, #settings {
    background: transparent;
    border: 0;
    color: white;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 16px;
    width: 64px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    border-radius: 50%;
    transition: 500ms ease-in-out background;
    cursor: pointer;
}

#color-settings {
    top: 96px;
}

#settings:hover, #color-settings:hover {
    background: var(--color-3);
}

h2 {
    color: var(--color-4);
    margin-bottom: 0;
}

h3 {
    font-size: 22px;
}

.flex-container {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-bg {
    background: transparent !important;
}

.panel-10 {
    width: 10%;
    background: var(--color-1);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 30px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.panel-33 {
    width: 33%;
    background-color: var(--color-1);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 30px;
    text-align: center;
    margin-top: 30px;
    transition: 0.3s ease-in-out background-color;
}

.hover-brighten:hover {
    cursor: pointer;
    background-color: var(--color-2);
}

.panel-75 {
    width: 68%;
    background: var(--color-1);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 30px;
    text-align: center;
    margin-top: 30px;
    transition: 0.3s ease-in-out background-color;
}

.panel-90 {
    width: 88%;
    background: var(--color-1);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 30px;
    text-align: center;
    margin-top: 30px;
}


.panel-100 {
    width: 98%;
    background: var(--color-1);
    margin-left: 10px;
    margin-right: 10px;
    min-height: 100px;
    border-radius: 30px;
    text-align: center;
    margin-top: 30px;
}

#af-list ul {
    display:list-item;
    padding: 0;
    list-style-type: none;
    height: 425px;
    overflow: scroll;
    margin-bottom: 0;
}

.auto {
    margin: auto;
}

.text-big {
    font-size: 60px;
    font-weight: 300;
}

.text-medium {
    font-size: 24px;
    color: #aaa;
    font-weight: 300;
}

.text-medium-big {
    font-size: 46px;
}

.text-small {
    font-size: 13px;
}

.text-gray {
    color: #666;
}

.bg-dark {
    background: #100d1f;
}

#tune-buttons input[type="text"] {
  width: 50%;
  height: 100%;
  min-height: 46px;
  padding-left: 20px;
  box-sizing: border-box;
  border: 2px solid transparent;
  outline: 0;
  color: white;
  background-color: var(--color-1);
  font-family: 'Titillium Web', sans-serif;
}

input[type="text"]:hover {
    border: 2px solid var(--color-main-bright);
}

#tune-buttons button {
    box-sizing: border-box;
    background-color: var(--color-4);
    border: 0;
    color: var(--color-1);
    width: 25%;
    height: 100%;
    display: block;
    padding: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#tune-buttons button:hover {
    background-color: var(--color-main-bright);
}

#freq-down {
    border-radius: 30px 0 0 30px;
}

#freq-up {
    border-radius: 0 30px 30px 0;
}

@media only screen and (max-width: 768px) {
    .flex-container {
        display: block;
    }
    .flex-phone {
        display: flex;
    }
    .modal-content {
        min-width: 90% !important;
        margin: auto;
    }
    .panel-10, .panel-33, .panel-90 {
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
    }
    .panel-75 {
        margin: 80px auto 0 auto !important;
        width: 90%;
    }
    .panel-33 h2 {
        padding: 20px;
        padding-top: 5px;
    }
    .text-medium-big {
        font-size: 32px;
    }
    .text-big {
        font-size: 40px;
        display: block;
        margin-top: -25px;
    }
    .text-big#data-ps {
        margin: 0;
    }
    .panel-100 {
        width: 90%;
        margin: auto;
    }
    
}

@media (max-width: 960px) {
    #wrapper {
        position: static;
        transform: none;
        margin: 0 auto;
    }
}

input[type="range"] {
    margin: 0;
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none; 
    /* creating a custom design */
    width: 100%;
    cursor: pointer;
    outline: none;
    /*  slider progress trick  */
    overflow: hidden;
    border-radius: 30px;
    height: 100%;
    background: transparent;
}

/* Track: Mozilla Firefox */
input[type="range"]::-moz-range-track {
    height: 48px;
    background: var(--color-1);
    border-radius: 30px;
    border: 0;
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none; 
    /* creating a custom design */
    height: 48px;
    width: 48px;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid var(--color-4);
    /*  slider progress trick  */
    box-shadow: -407px 0 0 400px var(--color-4);
}

/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
    box-sizing: border-box;
    height: 48px;
    width: 48px;
    background-color: var(--color-4);
    border-radius: 0px 30px 30px 0px;
    border: 0;
    outline: none;
    /*  slider progress trick  */
    box-shadow: -420px 0 0 400px var(--color-4);
}

/*  Toggle Switch  */

.toggleSwitch span span {
    display: none;
}  

.toggleSwitch {
    user-select: none;
    display: inline-block;
    height: 48px;
    position: relative;
    overflow: hidden;
    padding: 0;
    cursor: pointer;
    width: 100%;
    border-radius: 25px;
    font-weight: bold;
}
.toggleSwitch * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.toggleSwitch input:focus ~ a,
.toggleSwitch input:focus + label {
    outline: none;
}
.toggleSwitch label {
    position: relative;
    z-index: 3;
    display: block;
    width: 100%;
}
.toggleSwitch input {
    position: absolute;
    opacity: 0;
    z-index: 5;
}
.toggleSwitch > span {
    position: absolute;
    left: 0;
    width: calc(100% - 6px);
    margin: 0;
    text-align: left;
    white-space: nowrap;
    margin:0;
}
.toggleSwitch > span span {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: block;
    width: 50%;
    margin-left: 50px;
    text-align: left;
    font-size: 0.9em;
    width: auto;
    opacity: 1;
    width: 40%;
    text-align: center;
    line-height:48px;
}
.toggleSwitch a {
    position: absolute;
    right: 50%;
    z-index: 4;
    display: block;
    top: 0;
    bottom: 0;
    padding: 0;
    left: 0;
    width: 50%;
    background-color: var(--color-4);
    border-radius: 25px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.toggleSwitch > span span:first-of-type {
    color: var(--color-1);
    opacity: 1;
    left: 0;
    margin: 0;
    width: 50%;
}
.toggleSwitch > span span:last-of-type {
    left:auto;
    right:0;
    color: var(--color-4);
    margin: 0;
    width: 50%;
}
.toggleSwitch > span:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: -2px;
    border-radius: 30px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.toggleSwitch input:checked ~ a {
    left: calc(50% - 3px);
}

.toggleSwitch input:checked ~ span span:first-of-type {
    left:0;
    color: var(--color-4);
}
.toggleSwitch input:checked ~ span span:last-of-type {
    color: var(--color-1);
}

/*  End Toggle Switch  */



/* Style for the modal container */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
    opacity: 0;
    transition: opacity 0.3s ease-in-out; /* Fade-in/out transition */
    z-index: 20; /* Ensure the modal is above other content */
    color: var(--color-4);
    backdrop-filter: blur(10px);
}

/* Style for the modal content */
.modal-content {
    box-sizing: border-box; 
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background-color: var(--color-main);
    padding: 30px;
    border-radius: 30px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out; /* Fade-in/out transition */
    z-index: 21; /* Ensure the modal content is above the modal background */
    min-width: 500px;
}

.modal-content p {
    margin: 0;
}

.modal-title {
    font-size: 20px;
    position: absolute;
    font-weight: 300;
    top: 14px;
    left: 30px;
}

/* Style for the close button */
.close {
    position: absolute;
    top: 17px;
    right: 30px;
    cursor: pointer;
    transition: 0.3s ease-in-out color;
}

.close:hover {
    color: white;
}

.modal-content .button-close {
    position: absolute;
    bottom: 25px;
    right: 35px;
    width: 100px;
    height: 48px;
    border-radius: 30px;
    background: var(--color-4);
    font-weight: bold;
    border: 0;
    transition: 0.35s ease-in-out background;
    cursor: pointer;
}

.modal-content .button-close:hover {
    background: var(--color-5);
}

.modal label {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
}

select {
    height: 42px;
    width: 150px;
    padding: 10px;
    background: var(--color-4);
    color: var(--color-1);
    border: 0;
    border-bottom: 4px solid var(--color-2);
    cursor: pointer;
    transition: 0.35s ease-in-out background;
    font-family: inherit;
    font-weight: bold;
}

select option {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
    padding: 10px;
    border: 0;
}

select:hover {
    background: var(--color-5);
}